/__pycache__
example/possible_situation/test/*
example/continuum_fitting/temp/*
example/continuum_fitting/progress.h5
example/channel_and_pv/test/*
example/continuum_and_sed_fitting/temp/*
example/continuum_and_sed_fitting/progress.h5
example/continuum_and_sed_fitting/record.npz
example/continuum_radial/test/*
example/continuum_radial/disk_*/*
example/radial_fitting_1e-6/temp/*
example/radial_fitting_1e-7/temp/*